language: android
jdk:
- oraclejdk8
android:
  components:
  - tools
  - build-tools-27.0.3
  - android-27
  - extra-google-m2repository
  - extra-android-m2repository
  licenses:
  - ".+"

before_install:
  - "./notify.sh"
install:
  - yes | sdkmanager "ndk-bundle" "cmake;3.6.4111459" "lldb;3.0" --channel=3
script:
  - "./gradlew clean assembleDebug"
notifications:
  email: false
sudo: false
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/.gradle"
  - "$ANDROID_HOME"
after_success:
  - "./push_pass.sh"
after_failure:
  - "./push_fail.sh"
